<%- include("partials/header.ejs") %> 


<div style="text-align: center; margin: 100px 0;">
    <h2>Error processing files</h2>

    <h6>Try again or use my other services</h6>
</div>

<%- include("partials/footer.ejs") %> 