<%- include("partials/header.ejs") %> 


<div style="text-align: center; margin: 100px 0;">
    <h2>Error processing files</h2>

    <h3 style="margin: 25px 0;">Some of the pdf files are not supported. Due to encription</h3>

    <h6>Try again or use my other services</h6>
</div>

<%- include("partials/footer.ejs") %> 