<%- include("partials/header.ejs") %>

<div class="spinner" id="sp" >
    <h3 id="h3">Processing Files</h3>
    <div class="loader">
    </div>
</div>

<div class="pd" id="io">
    <h3>Arrange the order of pdf files to merge</h3>
    <h6>Arrange files by swiping over</h6>
    <form action="/pdfmergefile" method="post">
        <input type="text" name="tt" value="<%=id%>" id="tt">
        <div id="list" class="list-group swap-form">
            <% fls.forEach(file => { %>
            <div class="list-group-item"> 
                <div class="flex-div">
                    <img src="images/PDF_file_icon.svg.webp" class="pdf-img"> 
                    <% var name = file.split(".")[0]%>
                    <span><%=name.slice(0,19) + ".pdf"%> </span>  
                    <input type="text" name="dd" id="t" value="<%=file%>">
                </div>
            </div>
            <% }) %>
        </div>
        <button type="submit" onclick="process()" class="btn btn-dark">merge file</button>
    </form>
</div>

<style>
    h3,
    h6 {
        text-align: center;
    }

    .btn {
        margin: 20px auto !important;
        display: flex !important;
    }

    .spinner {
        margin: 150px auto 0;
    }
    .no-y{
        overflow-y: hidden !important;
    }
</style>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script>
    Sortable.create(list, {
        swap: true,
        swapClass: "highlight",
        animation: 150
    });
    
    function process() {
        window.scroll({
            top: 0,
            left: 0,
            behavior: 'smooth'
        });
    document.getElementById("io").classList.add("load");
    document.getElementById("sp").classList.add("vis");
    document.getElementById("h3").classList.add("vis");
    document.body.classList.add("no-y")
}

</script>



</body>

</html>